@charset "UTF-8";
:root {
   --size:360px;
   --color-black:#121212;
   --color-gray:#f1f1f1;
   --color-orange:#f23826;
}
@font-face {
	font-family: 'SUITE-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}
a{
	text-decoration: none;
}
* {
	font-family: 'SUITE-Regular';
	margin:0;
	padding:0;
	box-sizing: border-box;
	color: var(--color-black);
}
html{
	width: 100%;
}
body {
	display: flex;
	width:100%;
	min-width:1200px;
	overflow:auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

nav{
	display: flex;
	justify-content: left;
	min-width: 1100px;
    width: 80%;
    margin : 30px 0;
}
nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 100%;
}
nav ul li{
	width:20%;
}
nav ul li a{
	display:inline-block;
	border : 1px solid var(--color-orange);
	border-right:none;
	width : 100%;
	height : 50px;
	line-height:50px;
	text-align:center;
	transition: all 300ms ease;
}
nav ul li.active a,
nav ul li a:hover
{
	background:var(--color-orange);
	color : #fff;
}
nav ul li:last-child a{
	border-right:1px solid var(--color-orange);
}
.category {
	color: #fff;
	border-radius: 20px;
	padding:5px 10px;
	font-size:10px;
	background:var(--color-orange);
	width : 55px;
	display:inline-block;
	text-align:center;
}
.category.gray{
	background:#8DA0B2;
}
.category.green{
	background:#94c205;
}

.category.blue{
	background:#a1a0ff;
}
section{
	height:100%;
	min-width:1100px;
	width:80%;
	margin-bottom:20px;
}
table {
	width:100%;
	border-collapse: collapse;
	text-align: center;
	margin-bottom:10px;
	font-size:12px;
}
table caption{
	border:1px solid var(--color-black);
	border-bottom:none;
	background:var(--color-gray);
	padding:20px;
	text-align:left;
	font-size:20px;
}
th{
	background:var(--color-black);
	color:#f0f0f0;
}

th, td {
	padding: 10px;
	font-size : 14px;
}
tr:first-child{
	border-top:1px solid #b7b7b7;
	border-bottom:1px solid #b7b7b7;
}
tr:nth-child(even){
	background:#fafafa;
}

.left{
	padding:10px 20px;
	text-align:left;
}

.right{
	text-align:right;
}

td#content{
	height:500px;
	font-size:18px;
	vertical-align : top;
	padding:20px;
	overflow: auto;
	text-align:left;
}

body:has(.detail) {
	background:#f4f4f4;
}
.detail{
	width:1100px;
	margin : 0 auto;
	margin-top:50px;
}
.detail tr{
	border-top : none;
	border-bottom : 1px solid #f4f4f4;
}
.detail #content{
	background : #fcfcfc;
}
.detail #content pre{
	line-height:1.2em;
}
.detail td{
	padding:20px;
	background:#fff;
}
.detail .title{
	font-size:20px;
	text-align:left;
}
.detail img {
	width: auto;
	max-width:100%;
	height: auto;
	margin:0 auto;
	display: block;
}
.file{
	color:var(--color-orange);
	text-decoration: underline;
}
h1 img{
	width:260px;
	height:auto;
}
h2{
	font-weight:100;
	font-size:2em;
	width : 500px;
	text-align:left;
	margin-bottom:10px;
}
/* 폼 */
form{
	width:var(--size);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
form.write{
	margin-top:70px;
	width:500px;
}
form label{
	margin-top:10px;
}
form input[readonly]{
	background:#f0f0f0;
}
form input[type="text"],
form input[type="file"],
form input[type="tel"],
form input[type="email"],
form input[type="password"],
form select{
	border:1px solid var(--color-black);
	padding:10px;
	border-radius: 5px;
}
form textarea{
	height:300px;
	resize: none;
	padding:30px;
	font-size:15px;
	line-height:1.5em;
}

.btn_wrap {
	margin-top : 10px;
	display: flex;
	justify-content: space-between;
}
.btn_wrap input{
	width:48.5%;
}
form input[type="button"].cancel,a.cancel{
	background:#fff;
	border:1px solid var(--color-orange);
	color:var(--color-orange);
	text-align: center;
	text-decoration: none;
	line-height: 20px;
}
a.cancel{
	line-height: 50px;
    width: 49.5%;
    text-align: center;
}

form input[type="button"],
form input[type="submit"],
form input[type="reset"], form a{
	background: var(--color-orange);
	color:#fff;
	border:none;
	cursor:pointer;
	font-size:20px;
	border-radius : 10px;
	height:50px;
	margin-top:10px;
}
.btn_mini{
	background:var(--color-orange);
	text-decoration:none;
	padding:10px;
	border-radius : 5px;
	color:#fff;
	margin-top:10px;
	display: inline-block;
	font-size:12px;
}

header {
	width:100%;
	min-width:1100px;
	display: flex;
	align-items :center;
	justify-content: space-between;
	border-bottom:1px solid rgb(196, 197, 200);
	padding:20px;
	margin-bottom : 10px;
	background:#fff;
}
header h1{
	width:110px;
	height:auto;
	cursor: pointer;
}
header h1 img{
	width:100%;
}
/*검색창*/
.form_search h1 {
	width:200px;
}
.form_search form{
	width:500px;
	box-sizing:border-box;
	display:flex;
	justify-content: space-between;
	flex-direction : row;
	border: 2px solid var(--color-orange);
	border-radius: 50px;
	padding: 0px 15px;
}
.form_search select{
	width:80px;
	border:none;
	cursor:pointer;
	color:var(--color-orange);
}
.form_search input[type="text"]{
	border:none;
	width:80%;
}
.form_search input[type="submit"]{
	width:25px;
	height:25px;
	margin-top:6px;
	background: #fff no-repeat center center url(../img/search.svg);
}

header ul{
	display:flex;
	justify-content: space-between;
	list-style: none;
	text-decoration: none;
}
header ul li{
	padding: 10px 0;
}
header ul li:last-child a{
	border:none;
}
header ul li a {
	color : #6e6e6e;
	text-decoration: none;
	padding: 0 10px;
	border-right: 1px solid #f0f0f0;
}

/* 상세보기 버튼  */
div:has(div.mini_btn_wrap) {
	width:1100px;
	display:flex;
	justify-content: right;
	margin-bottom:50px;
	margin-top : 20px;
}
.mini_btn_wrap {
	display: flex;
	justify-content: space-between;
	
}

.mini_btn_wrap a{
	border-radius: 5px;
	padding : 5px 20px;
	background : #FF7B54;
	color:#fff;
	margin-right:10px;
}
.mini_btn_wrap a:nth-child(2) {
	background: #F49D1A;
}
.mini_btn_wrap a:last-child {
	background: #FFB26B;
	margin-right:0px;
}