@charset "UTF-8";
:root {
   --size:600px;
   --color-black:#121212;
   --color-gray:#f1f1f1;
}
@font-face {
	font-family: 'SUITE-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'SUITE-Regular';
	margin:0;
	padding:0;
	box-sizing: border-box;
	color: var(--color-black);
}
html{
	width: 100%;
	height: 100%;
}
body {
	display: flex;
	width:100%;
	height:100%;
	max-height: 100%;
	overflow:auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
h1{
	font-weight:100;
	width : var(--size);
	text-align:left;
	margin-bottom:10px;
}
table {
	width : var(--size);
	border-collapse: collapse;
	border:1px solid var(--color-black);
	text-align: center;
}
table caption{
	border:1px solid var(--color-black);
	border-bottom:none;
	background:var(--color-gray);
	padding:20px;
	text-align:left;
	font-size:20px;
}
th{
	background:var(--color-black);
	color:#f0f0f0;
	}

th, td {
	padding: 10px;
}

tr:nth-child(even){
	background:var(--color-gray);
}

.left{
	padding:10px 20px;
	text-align:left;
}

.right{
	padding:10px 20px;
	text-align:right;
}

#content td{
	height:1000px;
	font-size:18px;
	vertical-align : top;
	padding:20px;
}

/* 폼 */
form{
	width:var(--size);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

form input[type="text"],form input[type="file"]{
	border:1px solid var(--color-black);
	padding:10px;
	border-radius: 5px;
}
form input[type="file"]{
}
form textarea{
	height:400px;
	resize: none;
	padding:30px;
	font-size:20px;
	line-height:1.5em;
}

form input[type="button"],
form input[type="submit"],
form input[type="reset"]{
	margin-top : 10px;
	background: var(--color-black);
	color:#fff;
	border:none;
	cursor:pointer;
	font-size:20px;
	border-radius : 10px;
	height:50px;
}
