<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>web7mission</display-name>
	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
	</welcome-file-list> 
	<display-name>CRUD jobkorea</display-name>
	<!-- 서블릿 mapping -->
	<servlet>
	<!-- 클래스의 이름을 dispatcher라는 이름으로 쓰겠다. -->
		<servlet-name>dispatcher</servlet-name>
		<!-- /jspWebm10_MVC2pattern/src/main/java/customer/controller/MyDispatcher.java -->
		<servlet-class>jobkorea.controller.MyDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
	<!-- 위의 이름과 동일 -->
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>